# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

# school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [10]:
# Create a District Summary
print("District Summary:")
print(f"Total Number of School: {total_school}")
print(f"Total Number of Student: {total_student}")
print(f"Total Budget: ${total_budget:,.2f}")
print(f"Average Math Score: {average_math_score:.2f}")
print(f"Average Reading Score: {average_reading_score:.2f}")
print(f"Overall Average Score: {overall_average_score:.2f}")
print(f"Percentage of Passing Math: {passing_math_percentage:.2f}%")

District Summary:
Total Number of School: 15
Total Number of Student: 39170
Total Budget: $24,649,428.00
Average Math Score: 78.99
Average Reading Score: 81.88
Overall Average Score: 80.43
Percentage of Passing Math: 74.98%

In [3]:
# Total number of schools
total_school = school_data['school_name'].nunique()
print(f"Total Number of Schools: {total_school}")

Total Number of Schools: 15

In [4]:
# Total number of students
total_student = student_data['student_name'].count()
print(f"Total Number of Students: {total_student}")

Total Number of Students: 39170

In [5]:
# Total budget
total_budget = school_data['budget'].sum()
print(f"Total Budget: ${total_budget:,.2f}")

Total Budget: $24,649,428.00

In [6]:
# Average math score
average_math_score = student_data['math_score'].mean()
print(f"Average Math Score: {average_math_score:.2f}")

Average Math Score: 78.99

In [7]:
# Average reading score
average_reading_score = student_data['reading_score'].mean()
print(f"Average Reading Score: {average_reading_score:.2f}")

Average Reading Score: 81.88

In [8]:
# Overall average score
overall_average_score = (average_math_score + average_reading_score) / 2
print(f"Overall Average Score: {overall_average_score:.2f}")

Overall Average Score: 80.43

In [9]:
# Percentage of passing math (70 or greater)
passing_math_count = student_data[student_data['math_score'] >= 70]['student_name'].count()
passing_math_percentage = (passing_math_count / total_student) * 100

print(f"Percentage of Passing Math: {passing_math_percentage:.2f}%")

Percentage of Passing Math: 74.98%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [33]:
#  Sort and display the top five schools in overall passing rate
summary_df_sorted = summary_df.sort_values(by='Overall Passing Rate', ascending=False)

top_five_schools = summary_df_sorted.head(5)

print("Top Five Schools by Overall Passing Rate:")
print(top_five_schools)

Top Five Schools by Overall Passing Rate:
   Total Students  Total School Budget  Per Student Budget  \
0           39170             24649428            24649428

   Average Math Score  Average Reading Score  % Passing Math  \
0           78.985371               81.87784       74.980853

   % Passing Reading                               Overall Passing Rate  \
0           81.87784  0    school_name
Bailey High School       9.43...

   Total Math Results                                  Math Passing Rate  \
0               39170  school_name
Bailey High School       8.470768
...

   Total Reading Results                               Reading Passing Rate
0                  39170  school_name
Bailey High School       10.408476...

In [34]:
# Calculate total school budget
total_budget = school_data['budget'].sum()

In [35]:
# Calculate per student budget
# Per Student Budget
per_student_budget = total_budget / total_student

In [36]:
# Cacluate the avg math and reading score
passing_math = school_data_complete[school_data_complete['math_score'] >= 70]
percent_passing_math = (passing_math['student_name'].count() / total_student) * 100

passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]
percent_passing_reading = (passing_reading['student_name'].count() / total_student) * 100

#### Find the passing rate for math and reading (above 70 points)

In [37]:
# Find the total counts of math result

total_math_results = school_data_complete['math_score'].count()

# Find the counts for math result in each school that pass 70 or higher

passing_math_by_school = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['math_score'].count()

# Calculate the math passing rate

math_passing_rate_by_school = (passing_math_by_school / total_math_results) * 100

In [38]:
# Find the total counts of read result

total_reading_results = school_data_complete['reading_score'].count()

# Find the counts for read result in each school that pass 70 or higher

passing_reading_by_school = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['reading_score'].count()

# Calculate the read passing rate

reading_passing_rate_by_school = (passing_reading_by_school / total_reading_results) * 100

In [39]:
# Calculate the overall passing rate (average of the math and reading passing rate)

summary_df['Overall Passing Rate'] = (summary_df['Math Passing Rate'] + summary_df['Reading Passing Rate']) / 2

In [40]:
summary_df = pd.DataFrame({
    'Total Students': [total_student],
    'Total School Budget': [total_budget],
    'Per Student Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [average_reading_score],
    'Overall Passing Rate': [overall_average_score],
    'Total Math Results':[total_math_results],
    'Math Passing Rate':[math_passing_rate_by_school],
    'Total Reading Results':[total_reading_results],
    'Reading Passing Rate':[reading_passing_rate_by_school],
    'Overall Passing Rate':[(summary_df['Math Passing Rate'] + summary_df['Reading Passing Rate']) / 2]
})



print(summary_df)

   Total Students  Total School Budget  Per Student Budget  \
0           39170             24649428            24649428

   Average Math Score  Average Reading Score  % Passing Math  \
0           78.985371               81.87784       74.980853

   % Passing Reading                               Overall Passing Rate  \
0           81.87784  0    school_name
Bailey High School       9.43...

   Total Math Results                                  Math Passing Rate  \
0               39170  school_name
Bailey High School       8.470768
...

   Total Reading Results                               Reading Passing Rate
0                  39170  school_name
Bailey High School       10.408476...

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [41]:
#  Sort and display the worst five schools in overall passing rate
summary_df_sorted_worst = summary_df.sort_values(by='Overall Passing Rate', ascending=True)

worst_five_schools = summary_df_sorted_worst.head(5)

print("Worst Five Schools by Overall Passing Rate:")
print(worst_five_schools)

Worst Five Schools by Overall Passing Rate:
   Total Students  Total School Budget  Per Student Budget  \
0           39170             24649428            24649428

   Average Math Score  Average Reading Score  % Passing Math  \
0           78.985371               81.87784       74.980853

   % Passing Reading                               Overall Passing Rate  \
0           81.87784  0    school_name
Bailey High School       9.43...

   Total Math Results                                  Math Passing Rate  \
0               39170  school_name
Bailey High School       8.470768
...

   Total Reading Results                               Reading Passing Rate
0                  39170  school_name
Bailey High School       10.408476...

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [42]:
# Create table that lists the average math score for each school of each grade level.
average_math_by_grade = school_data_complete.groupby(['school_name', 'grade'])['math_score'].mean().unstack()

print("Average Math Score by Grade:")
print(average_math_by_grade)

Average Math Score by Grade:
grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [43]:
# Calculate the average math score for 9th grade in each school
average_math_9th_grade = school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name')['math_score'].mean()

average_math_9th_grade_df = pd.DataFrame({'Average Math Score (9th Grade)': average_math_9th_grade})

print("Average Math Score for 9th Grade in Each School:")
print(average_math_9th_grade_df)

Average Math Score for 9th Grade in Each School:
                       Average Math Score (9th Grade)
school_name
Bailey High School                          77.083676
Cabrera High School                         83.094697
Figueroa High School                        76.403037
Ford High School                            77.361345
Griffin High School                         82.044010
Hernandez High School                       77.438495
Holden High School                          83.787402
Huang High School                           77.027251
Johnson High School                         77.187857
Pena High School                            83.625455
Rodriguez High School                       76.859966
Shelton High School                         83.420755
Thomas High School                          83.590022
Wilson High School                          83.085578
Wright High School                          83.264706

In [44]:
# Calculate the average math score for 10th grade in each school
average_math_10th_grade = school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['math_score'].mean()

average_math_10th_grade_df = pd.DataFrame({'Average Math Score (10th Grade)': average_math_10th_grade})

print("Average Math Score for 10th Grade in Each School:")
print(average_math_10th_grade_df)

Average Math Score for 10th Grade in Each School:
                       Average Math Score (10th Grade)
school_name
Bailey High School                           76.996772
Cabrera High School                          83.154506
Figueroa High School                         76.539974
Ford High School                             77.672316
Griffin High School                          84.229064
Hernandez High School                        77.337408
Holden High School                           83.429825
Huang High School                            75.908735
Johnson High School                          76.691117
Pena High School                             83.372000
Rodriguez High School                        76.612500
Shelton High School                          82.917411
Thomas High School                           83.087886
Wilson High School                           83.724422
Wright High School                           84.010288

In [46]:
# Calculate the average math score for 11th grade in each school
average_math_11th_grade = school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name')['math_score'].mean()

average_math_11th_grade_df = pd.DataFrame({'Average Math Score (11th Grade)': average_math_11th_grade})

print("Average Math Score for 11th Grade in Each School:")
print(average_math_11th_grade_df)

Average Math Score for 11th Grade in Each School:
                       Average Math Score (11th Grade)
school_name
Bailey High School                           77.515588
Cabrera High School                          82.765560
Figueroa High School                         76.884344
Ford High School                             76.918058
Griffin High School                          83.842105
Hernandez High School                        77.136029
Holden High School                           85.000000
Huang High School                            76.446602
Johnson High School                          77.491653
Pena High School                             84.328125
Rodriguez High School                        76.395626
Shelton High School                          83.383495
Thomas High School                           83.498795
Wilson High School                           83.195326
Wright High School                           83.836782

In [47]:
# Calculate the average math score for 12th grade in each school
average_math_12th_grade = school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['math_score'].mean()

average_math_12th_grade_df = pd.DataFrame({'Average Math Score (12th Grade)': average_math_12th_grade})

print("Average Math Score for 12th Grade in Each School:")
print(average_math_12th_grade_df)

Average Math Score for 12th Grade in Each School:
                       Average Math Score (12th Grade)
school_name
Bailey High School                           76.492218
Cabrera High School                          83.277487
Figueroa High School                         77.151369
Ford High School                             76.179963
Griffin High School                          83.356164
Hernandez High School                        77.186567
Holden High School                           82.855422
Huang High School                            77.225641
Johnson High School                          76.863248
Pena High School                             84.121547
Rodriguez High School                        77.690748
Shelton High School                          83.778976
Thomas High School                           83.497041
Wilson High School                           83.035794
Wright High School                           83.644986

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [48]:
# Create table that lists the average reading score for each school of each grade level.
average_reading_by_grade = school_data_complete.groupby(['school_name', 'grade'])['reading_score'].mean().unstack()

print("Average Reading Score by Grade:")
print(average_reading_by_grade)

Average Reading Score by Grade:
grade                       10th       11th       12th        9th
school_name
Bailey High School     80.907183  80.945643  80.912451  81.303155
Cabrera High School    84.253219  83.788382  84.287958  83.676136
Figueroa High School   81.408912  80.640339  81.384863  81.198598
Ford High School       81.262712  80.403642  80.662338  80.632653
Griffin High School    83.706897  84.288089  84.013699  83.369193
Hernandez High School  80.660147  81.396140  80.857143  80.866860
Holden High School     83.324561  83.815534  84.698795  83.677165
Huang High School      81.512386  81.417476  80.305983  81.290284
Johnson High School    80.773431  80.616027  81.227564  81.260714
Pena High School       83.612000  84.335938  84.591160  83.807273
Rodriguez High School  80.629808  80.864811  80.376426  80.993127
Shelton High School    83.441964  84.373786  82.781671  84.122642
Thomas High School     84.254157  83.585542  83.831361  83.728850
Wilson High School     84.021452  83.764608  84.317673  83.939778
Wright High School     83.812757  84.156322  84.073171  83.833333

In [49]:
# Calculate the average reading score for 9th grade in each school
average_reading_9th_grade = school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name')['reading_score'].mean()

average_reading_9th_grade_df = pd.DataFrame({'Average Reading Score (9th Grade)': average_reading_9th_grade})

print("Average Reading Score for 9th Grade in Each School:")
print(average_reading_9th_grade_df)

Average Reading Score for 9th Grade in Each School:
                       Average Reading Score (9th Grade)
school_name
Bailey High School                             81.303155
Cabrera High School                            83.676136
Figueroa High School                           81.198598
Ford High School                               80.632653
Griffin High School                            83.369193
Hernandez High School                          80.866860
Holden High School                             83.677165
Huang High School                              81.290284
Johnson High School                            81.260714
Pena High School                               83.807273
Rodriguez High School                          80.993127
Shelton High School                            84.122642
Thomas High School                             83.728850
Wilson High School                             83.939778
Wright High School                             83.833333

In [50]:
# Calculate the average reading score for 10th grade in each school
average_reading_10th_grade = school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['reading_score'].mean()

average_reading_10th_grade_df = pd.DataFrame({'Average Reading Score (10th Grade)': average_reading_10th_grade})

print("Average Reading Score for 10th Grade in Each School:")
print(average_reading_10th_grade_df)

Average Reading Score for 10th Grade in Each School:
                       Average Reading Score (10th Grade)
school_name
Bailey High School                              80.907183
Cabrera High School                             84.253219
Figueroa High School                            81.408912
Ford High School                                81.262712
Griffin High School                             83.706897
Hernandez High School                           80.660147
Holden High School                              83.324561
Huang High School                               81.512386
Johnson High School                             80.773431
Pena High School                                83.612000
Rodriguez High School                           80.629808
Shelton High School                             83.441964
Thomas High School                              84.254157
Wilson High School                              84.021452
Wright High School                              83.812757

In [51]:
# Calculate the average reading score for 11th grade in each school
average_reading_11th_grade = school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name')['reading_score'].mean()

average_reading_11th_grade_df = pd.DataFrame({'Average Reading Score (11th Grade)': average_reading_11th_grade})

print("Average Reading Score for 11th Grade in Each School:")
print(average_reading_11th_grade_df)

Average Reading Score for 11th Grade in Each School:
                       Average Reading Score (11th Grade)
school_name
Bailey High School                              80.945643
Cabrera High School                             83.788382
Figueroa High School                            80.640339
Ford High School                                80.403642
Griffin High School                             84.288089
Hernandez High School                           81.396140
Holden High School                              83.815534
Huang High School                               81.417476
Johnson High School                             80.616027
Pena High School                                84.335938
Rodriguez High School                           80.864811
Shelton High School                             84.373786
Thomas High School                              83.585542
Wilson High School                              83.764608
Wright High School                              84.156322

In [52]:
# Calculate the average reading score for 12th grade in each school
average_reading_12th_grade = school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['reading_score'].mean()

average_reading_12th_grade_df = pd.DataFrame({'Average Reading Score (12th Grade)': average_reading_12th_grade})

print("Average Reading Score for 12th Grade in Each School:")
print(average_reading_12th_grade_df)

Average Reading Score for 12th Grade in Each School:
                       Average Reading Score (12th Grade)
school_name
Bailey High School                              80.912451
Cabrera High School                             84.287958
Figueroa High School                            81.384863
Ford High School                                80.662338
Griffin High School                             84.013699
Hernandez High School                           80.857143
Holden High School                              84.698795
Huang High School                               80.305983
Johnson High School                             81.227564
Pena High School                                84.591160
Rodriguez High School                           80.376426
Shelton High School                             82.781671
Thomas High School                              83.831361
Wilson High School                              84.317673
Wright High School                              84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [83]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [84]:
# Create a new column to show budget per student in each row
summary_df['Spending Ranges (Per Student)'] = pd.cut(summary_df['Per Student Budget'], bins=spending_bins, labels=group_names, include_lowest=True)

In [85]:
# Create a new column to define the spending ranges per student
summary_df['Spending Ranges (Per Student)'] = pd.cut(summary_df['Per Student Budget'], bins=spending_bins, labels=group_names, include_lowest=True)

In [86]:
# Calculate the average math score within each spending range
average_math_by_spending = summary_df.groupby('Spending Ranges (Per Student)')['Average Math Score'].mean()

In [90]:
# Calculate the percentage passing rate for math in each spending range
summary_df['Spending Ranges (Per Student)'] = pd.cut(summary_df['Per Student Budget'], bins=spending_bins, labels=group_names, include_lowest=True)

summary_df['% Passing Math'] = (summary_df['Math Passing Rate'] / summary_df['Total Students']) * 100

In [92]:
# Calculate the percentage passing rate for reading in each spending range
summary_df['% Passing Reading'] = (summary_df['Reading Passing Rate'] / summary_df['Total Students']) * 100

In [94]:
# Calculate the percentage overall passing rate in each spending range
summary_df['% Overall Passing Rate'] = (summary_df['% Passing Math'] + summary_df['% Passing Reading']) / 2

print(summary_df)

   Total Students  Total School Budget  Per Student Budget  \
0           39170             24649428            24649428

   Average Math Score  Average Reading Score  \
0           78.985371               81.87784

                                      % Passing Math  \
0  school_name
Bailey High School       0.021626
...

                                   % Passing Reading  \
0  school_name
Bailey High School       0.026573
...

                                Overall Passing Rate  Total Math Results  \
0  0    school_name
Bailey High School       9.43...               39170

                                   Math Passing Rate  Total Reading Results  \
0  school_name
Bailey High School       8.470768
...                  39170

                                Reading Passing Rate  \
0  school_name
Bailey High School       10.408476...

  Spending Ranges (Per Student)  \
0                           NaN

                              % Overall Passing Rate
0  school_name
Bailey High School       0.024099
...

### Scores by School Size

* Perform the same operations as above, based on school size.

In [95]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [98]:
# Create a new column for the bin groups
summary_df['School Size'] = pd.cut(summary_df['Total Students'], bins=size_bins, labels=group_names, include_lowest=True)

Look for the total count of test scores that pass 70% or higher

In [99]:
# math_pass_size
summary_df['Math Passing Count'] = summary_df[summary_df['Average Math Score'] >= 70]['Total Students']

In [100]:
# read_pass_size
summary_df['Reading Passing Count'] = summary_df[summary_df['Average Reading Score'] >= 70]['Total Students']

In [114]:
# Calculate the overall passing rate for different school size
summary_df['% Overall Passing Rate'] = (summary_df['% Passing Math'] + summary_df['% Passing Reading']) / 2

### Scores by School Type

* Perform the same operations as above, based on school type.

In [113]:
# Create bins and groups, school type {'Charter', 'District'}
print(summary_df.columns)

Index(['Total Students', 'Total School Budget', 'Per Student Budget',
       'Average Math Score', 'Average Reading Score', '% Passing Math',
       '% Passing Reading', 'Overall Passing Rate', 'Total Math Results',
       'Math Passing Rate', 'Total Reading Results', 'Reading Passing Rate',
       'Spending Ranges (Per Student)', '% Overall Passing Rate',
       'School Size', 'Math Passing Count', 'Reading Passing Count'],
      dtype='object')

Find counts of the passing 70 or higher score for the both test

In [ ]:
# math pass size

In [ ]:
# reading pass size

In [ ]:
# Calculate the overall passing rate